h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    background-color: #f9f9f9;
    padding: 1px;
    border-radius: 10px;
}

#experience{
    background-color: #f9f9f9;
  padding: 1px;
  border-radius: 10px;
}